
body {
  font-family: "Montserrat", sans-serif;
  
}
h1 {
  margin-bottom: 0;
  color: #4d4e51;
  display: block;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
ul{
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
  
    margin: 0;
    padding: 0;
    color: #455d7a;
    opacity: 0.5;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  li:first-letter {
    text-transform: capitalize;
  }

  .weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;
  }
  
  .weather-app {
    padding: 20px;
    border: 0px solid #a0b1c5;
    border-radius: 10px;
    background: linear-gradient(to bottom,  #CBC3E3,pink );
  }

  .overview {
    margin-bottom: 20px;
  }
  .weather-temperature img {
    margin-right: 5px;
    height: 60px;
    width: 60px;
    margin-top: unset;
    vertical-align: top;
  }
  .style-form-control {
    border: 0px solid #d27358;
    background: #ffffff;
  }
  
  .style-form-control::placeholder {
    color: #455d7a;
    opacity: 0.5;
  }
  
  .button-submit {
    background: #d27358;
    border: 0px solid #a0b1c5;
  }
  
  .weather-temperature strong {
    color: #455d7a;
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
  }
  .weather-temperature .units {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    top: -32px;}
  
  .weather-temperature a {
    text-decoration: none;
  }
  
  .weather-temperature .active {
    color: #202124;
  
    cursor: default;
  }
  
  .weather-temperature .active:hover {
    color: #202124;
    cursor: default;
    color: #455d7a;
  }
  
  .weather-forecast {
  margin-top: 20px;
  text-align: center;}
  .weather-forecast-date {
    font-size: 16px;
   font-weight: 600;
    color: #455d7a;
  }
  
  .weather-forecast-temperature {
    font-size: 13px;
    font-weight: 500;
    color: #455d7a;
  }
  
  .weather-forecast-temperature-min {
    
    opacity: 0.7;
    font-weight: 400;
  }
  
  .footer-style {
    color: black;
  }
  
  .footer-style a {
    color: blue;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .footer-style a:hover {
    color: #b34b2f;
    text-decoration: none;
  }